/* Selectores de elementos */

body
{
	font-size: 16px;
}

a
{
	text-decoration: none;
}

/* Selectores de clase */

.u-title
{
	color: #00CCFF;
	padding: .5em;
	border-bottom: 2px dashed #00CCFF;
	text-align: center;
}

/* MainMenu */
.MainMenu
{
	background: #1E1E1E;
	color: #05DBFF;
	height: 3.75em;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.MainMenu-list
{
	text-align: center;
}

.MainMenu-item
{
	display: inline-block;
	margin-right: 1em;
}

.MainMenu-link
{
	color: #00DBFF;
}

/* Header */
.Header
{
	margin-top: 3.75em; 
	background-image: url('../images/portada.jpg');
	background-repeat: no-repeat;
	background-size: cover;
    text-align: center;
}

.Header-imageContainer
{
	margin: 0;
}

.Header-image
{
	height: 250px;
	width: 250px;
	margin: 1.5em 0; 
	border: 5px solid #fff;
	border-radius: 50%;
}

.Header-link
{
	color: #fff;
	font-size: 2.18em;
}

.Header-name
{
	margin: 0;
	padding-bottom: .5em;
	color: #fff;
}

.Profile
{
	text-align: center;
}

.Profile-description
{
	padding-bottom: 1em; 
}

.Profile-link
{
	background: #FFA500;
	color: #fff;
	padding: 1em;
	border-radius: 3.75em;
	margin: 1em 1em 0 0;
}

.Work
{
	text-align: center;
}

.Work-item
{
	display: inline-block;
}

.Work-link
{
	font-style: italic;
	color: #515151;
}

.Footer
{
	background-image: url('../images/footer.jpg');
	height: 300px;
}

.Footer-input
{
	display: block;
	margin-bottom: 1em;
	border: 0;
	border-radius: 3.75em;
	padding: .7em .2em;
}

.Footer-left, .Footer-form
{
	display: inline-block;
}

.Footer-left
{
	vertical-align: top;
}