/* Selectores de elemento o etiquetas */
header
{
	background: blue;
}

p
{
	font-size: 24px;
	background: yellow;
}

/* Selectores de id */
#id_header
{
	background: black;
}

/* Selectores de clase */
.Header
{
	background: red;
}

.Header-title
{

}

.Profile
{

}

.Profile-title
{

}

.Profile-description
{
	
}

.Work
{

}

.Footer
{

}

.boton
{

}

/* Selectores de atributo */
[href]
{
	font-size: 35px;
}

[type="text"]
{
	width: 100px;
}